<div class="container">
    <h1 class="center-align">{{title}}!</h1>
    <form #f="ngForm" materialize autocomplete="off">    
        <div class="row">
            <div class="input-field col s12 m6">
                <autocomplete-component name="countrySelector"
                                        [autocomplete-data]="countries"
                                        [(ngModel)]="countryCode"
                                        [(is-input-disabled)]="!countries"
                                        [placeholder]="'Type country name'"
                                        [label]="'Country *'"
                                        [is-required]="isRequired"
                                        [return-key]="'code'"
                                        [display-key]="'name'"
                                        [results-limit]="resultsLimit"
                                        [min-length-search]=0
                                        [error-msg]="'Country is required'"
                                        [show-error]=false
                                        (ngModelChange)="onChange()"
                                        #countrySelector="ngModel">
                </autocomplete-component>
                <div class="input-error" *ngIf="countrySelector.dirty && countrySelector.invalid">
                    Country is required
                </div>
            </div>
            <div class="col s12 m6"></div>
        </div>
    </form>
</div>